{# templates/pages/index.html.twig #}
{% extends 'includes/app.html.twig' %}

{# page title #}
{% block title %} Cloudhead Technologies Private Limited {% endblock %}

{# Meta Description #}
{% block meta_description %} Cloudhead Technologies is an Information Technology Solutions
    & Services provider, specializing in Web and Application Development, Mobile Application,
    Business Process Operations & Automations, E-commerce, ISO Consulting - Audits - Certifications,
    Process Consulting, Cloud and IT Security Consulting and Training provider.{% endblock %}

{# Content goes here #}
{% block content %}
<div class="services_con cf">
	<div class="max_width_800px">
		<img src="img/services/android_app_development.png" class="img-responsive" alt="Android web design">
	</div>
	<br>
	<div class="col-md-8 services_paragraph">
			<div class="s_question_con">
				<div class="s_a">
					<p>
						Today, mobiles have become the mainstay device in society,
						and they come with a lot of technological innovation. Today,
						some mobiles phones are so advanced that it is like carrying
						an advanced computing device in one’s pocket. To cater to the
						advanced needs of mobile users, mobile apps have come into existence.
					</p>
					<p>
						These apps are made utilizing the most powerful and dynamic
						mobile platforms available today. There are a lot of platforms
						available today for development, such as Android,
						Windows Phones, and iOS. However, the Android platform
						by Google is moving ahead by leaps and bounds and its popularity
						shows no signs of receding. Let us check why developers
						choose the android platform for Apps development.
					</p>
				</div>
				<ul class="list-group box-shadow">
						<li class="list-group-item my_accordion current">
							<h4 class="accordion_title">#1 – Android can be easily accessed</h4>
							<p class="accordion_body">
								The best part of Android is that it is easily accessible to any Android programmer with knowledge of Java and the Android SDK. The Android SDK can be easily accessed and has the potential and capability to create some of the most innovative mobile apps.
							</p>
						</li>
						<li class="list-group-item my_accordion">
							<h4 class="accordion_title">#2 – Innovative and creative</h4>
							<p class="accordion_body">
								Because of the open source nature of Android, the developers
								who get to work on this mobile platform get a lot of exposure
								to Google’s philosophy of freedom and innovation. This
								encourages creativity and nurtures the ability to take advantage
								of Android’s vast resources that improve the quality and
								functionality of your mobile app.
							</p>
						</li>
						<li class="list-group-item my_accordion">
							<h4 class="accordion_title">#3- Ability to install from any source</h4>
							<p class="accordion_body">
								Android apps can be installed from any source and not just the
								Android Market. Besides it is easy and possible to test the
								apps on multiple devices. All this is possible due to the
								tools included in the SDK that make it easy to do so. It is
								also possible to directly install your app on the device directly,
								or from the command line.
							</p>
						</li>
						<li class="list-group-item my_accordion">
							<h4 class="accordion_title">#4 – Much lower entry barrier</h4>
							<p class="accordion_body">
								If you want to develop your app in Android, you only need to
								register yourself as a developer on the Android market, prepare
								your APK and submit it to Android. The entry barrier for
								Android is much lower as the approval process is much simpler,
								which is not the case with its nearest competitor App Store.
							</p>
						</li>
						<li class="list-group-item my_accordion">
							<h4 class="accordion_title">#5 – High market share</h4>
							<p class="accordion_body">
								The fact that Android’s market share accounts to over 80% with over 1 billion devices being shipped in 2014 alone, means a lot to those investing their pennies in the Android development game. This means that building an android app will mean a lot of potential downloads, which is actually a good sign for the developer community.
							</p>
						</li>
						<li class="list-group-item my_accordion">
							<h4 class="accordion_title">#6 – Allows installation of custom ROMs</h4>
							<p class="accordion_body">
								Android allows rooting of your phone and you can install custom ROMs. On the contrary, iPhone’s version of rooting is called jail breaking, which is an actual crime in the USA.

							</p>
						</li>
						<li class="list-group-item my_accordion">
							<h4 class="accordion_title">#7 – Better hardware range</h4>
							<p class="accordion_body">
								Android is made to be more compatible with devices that are provided by different manufacturers around the globe. These developers include a wide range of advanced features into the device, which can then be effectively utilized by developers worldwide. These features are comparable to those available with the expensive models and high-end phones, and are also easy to fit into your budget.
							</p>
						</li>
						<li class="list-group-item my_accordion">
							<h4 class="accordion_title">#8 – Well optimized for social apps</h4>
							<p class="accordion_body">
								Android is well optimized to develop social apps and this segment is really growing. Most apps developers are going social, and are trying their best to maximize their potential by earning top revenue. Hence, due to its ability to better integrate with a wide range of social networks, it is more preferred amongst developers and business owners who want to go social.
							</p>
						</li>
						<li class="list-group-item my_accordion">
							<h4 class="accordion_title">#9 – Easier to learn</h4>
							<p class="accordion_body">
								According to various professionals who have learnt Google Android and other platforms such as iOS and Blackberry, Google’s Android can be learnt from scratch, faster than other platforms. Hence, developers starting out with mobile application development will find it very easy to develop in Android.
							</p>
						</li>
						<li class="list-group-item my_accordion">
							<h4 class="accordion_title">#10 – Cheaper Apps</h4>
							<p class="accordion_body">
								Android has a diverse user-base, hence offers more free downloads. Also, apps are cheaper compared to those on iOS, and free apps with ad revenue or in-apps purchase models are also possible on Android.
							</p>
						</li>
					</ul>
			</div>
	</div>
	<div class="col-md-4 services_links ">
		<ul class="list-group box-shadow">
			<li class="list-group-item heading"><h4>Related Links</h4></li>
			<li class="list-group-item"><a href="android-app-development">Android App Development</a></li>
			<li class="list-group-item"><a href="ios-app-development">iOS App development</a></li>
			<li class="list-group-item"><a href="cross-platform-app-development">Cross Platform App Development</a></li>
		</ul>
	</div>
</div>
{% endblock %}
