{# templates/pages/index.html.twig #}
{% extends 'includes/app.html.twig' %}

{# page title #}
{% block title %} Cloudhead Technologies Private Limited {% endblock %}

{# Meta Description #}
{% block meta_description %} Cloudhead Technologies is an Information Technology Solutions
    & Services provider, specializing in Web and Application Development, Mobile Application,
    Business Process Operations & Automations, E-commerce, ISO Consulting - Audits - Certifications,
    Process Consulting, Cloud and IT Security Consulting and Training provider.{% endblock %}

{# Content goes here #}
{% block content %}
<div class="op_banner op_story">
  <h1>Our Story</h1>
</div>
<div class="about_us_sections cf">
	<div class="col-md-4 about_us_sections_heading">
		<div class="row">
			<h1>Career</h1>
		</div>
	</div>
	<div class="col-md-8 about_us_sections_content">
		<div class="row">
			<blockquote>
				A workplace as great as the services we provide!!
				<footer>CEO, Cloudhead Technologies</footer>
			</blockquote>
			<p></p>
			<p>We are looking for...</p>
			<br>
			<div class="career_con">
				<div class="career_profile cf career_profile_lr">
					<div class="career_profile_img">
						<img src="img/career/wordpress.png" alt="WordPress">
					</div>
					<div class="career_profile_details">
						<h1>Wordpress Developers</h1>
						<p>You should have the good knowledge of HTML5, WordPress Content Management System, designing responsive Web Pages from Scratch.
						</p>
					</div>
				</div>
				<div class="career_con_b_lr cf connector">
					<div class="div"></div>
					<div class="div"></div>
				</div>
				<div class="career_profile cf career_profile_rl">
					<div class="career_profile_img">
						<img src="img/career/web_developer.png" alt="Web Developer">
					</div>
					<div class="career_profile_details">
						<h1>Full Stack Web Developers</h1>
						<p>We are seeking to recruit a Full Stack Web developer, who will be responsible for developing innovative, reusable Web-based tools for progressive online activism and community building. You will work closely with our project managers, strategists
							and design team members to develop specifications and make recommendations on the use of new and emerging technologies. Programming, graphic design and database administration are all elements of this position.
						</p>
					</div>
				</div>
				<div class="career_con_b_rl cf connector">
					<div class="div"></div>
					<div class="div"></div>
				</div>
				<div class="career_profile cf career_profile_lr">
					<div class="career_profile_img">
						<img src="img/career/telecalling.png" alt="Telecalling">
					</div>
					<div class="career_profile_details">
						<h1>Telecalling Executive</h1>
						<p>
							Making outbound call to prospective clients, explain product and services for generating appointments for business development. <br> Ability to develop &amp; maintain positive working relationship with client follow ups. Generate leads/prospects over
							the phone. Send mailers, maintain complete database &amp; reports Candidate should have good Communications &amp; convincing skills Excellent conversational and customer service.
							<br> Candidate must speek Hindi, English and Bengali.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
