{# templates/pages/index.html.twig #}
{% extends 'includes/app.html.twig' %}


{# page title #}
{% block title %} Cloudhead Technologies Private Limited {% endblock %}

{% block content %}
<div class="works_banner clients_banner">
    <h1>OUR CLIENTS</h1>
</div>
<div class="why_work_with_us">
    <p>
    To us, it's not just work - we take pride in the solutions we deliver. We encourage each other to achieve excellence in all endeavours and aren't satisfied until projects meet our own personal high standards. Please take a look at works to see how we will bring your project into existance.
    </p>
    <div class="down_icon"></div>
</div>
<div class="work_body_content client_body_content cf">
    <div class="row clients_gallery">
        <div class="col-lg-3 col-md-4 col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2 gallery_item"><img src="img/clients/c1.jpg" alt="" class="img-responsive"></div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2 gallery_item"><img src="img/clients/c2.jpg" alt="" class="img-responsive"></div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2 gallery_item"><img src="img/clients/c3.jpg" alt="" class="img-responsive"></div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2 gallery_item"><img src="img/clients/c4.jpg" alt="" class="img-responsive"></div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2 gallery_item"><img src="img/clients/c5.jpg" alt="" class="img-responsive"></div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2 gallery_item"><img src="img/clients/c6.jpg" alt="" class="img-responsive"></div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2 gallery_item"><img src="img/clients/c7.jpg" alt="" class="img-responsive"></div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2 gallery_item"><img src="img/clients/c8.jpg" alt="" class="img-responsive"></div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2 gallery_item"><img src="img/clients/c9.jpg" alt="" class="img-responsive"></div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2 gallery_item"><img src="img/clients/c10.jpg" alt="" class="img-responsive"></div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2 gallery_item"><img src="img/clients/c11.jpg" alt="" class="img-responsive"></div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2 gallery_item"><img src="img/clients/c12.jpg" alt="" class="img-responsive"></div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2 gallery_item"><img src="img/clients/c13.jpg" alt="" class="img-responsive"></div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2 gallery_item"><img src="img/clients/c14.jpg" alt="" class="img-responsive"></div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2 gallery_item"><img src="img/clients/c15.jpg" alt="" class="img-responsive"></div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2 gallery_item"><img src="img/clients/c16.png" alt="" class="img-responsive"></div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2 gallery_item"><img src="img/clients/c17.jpg" alt="" class="img-responsive"></div>
    </div>
</div>
{% endblock %}