{# templates/pages/index.html.twig #}
{% extends 'includes/app.html.twig' %}

{# page title #}
{% block title %} Cloudhead Technologies Private Limited {% endblock %}

{# Meta Description #}
{% block meta_description %} Cloudhead Technologies is an Information Technology Solutions
    & Services provider, specializing in Web and Application Development, Mobile Application,
    Business Process Operations & Automations, E-commerce, ISO Consulting - Audits - Certifications,
    Process Consulting, Cloud and IT Security Consulting and Training provider.{% endblock %}

{# Content goes here #}
{% block content %}
<div class="services_con cf">
	<div class="max_width_800px">
		<img src="img/services/ecommerce.png" class="img-responsive" alt="Social Media Promotion">
	</div>
	<br>
	<div class="col-md-8 services_paragraph">
		<div class="s_question_con">
			<div class="s_q">
				<h4>
					What is Ecommerce?
				</h4>
			</div>
			<div class="s_a continue_reading">
				<p class="text-justify">
					Electronic commerce or ecommerce is a term for any type of business, or commercial transaction, that involves the transfer of information across the Internet. It covers a range of different types of businesses, from consumer based retail sites, through auction or music sites, to business exchanges trading goods and services between corporations. It is currently one of the most important aspects of the Internet to emerge.
				</p>
				<p class="text-justify">
					Ecommerce allows consumers to electronically exchange goods and services with no barriers of time or distance. Electronic commerce has expanded rapidly over the past five years and is predicted to continue at this rate, or even accelerate. In the near future the boundaries between "conventional" and "electronic" commerce will become increasingly blurred as more and more businesses move sections of their operations onto the Internet.
				</p>
				<p class="text-justify">
					Business to Business or B2B refers to electronic commerce between businesses rather than between a business and a consumer. B2B businesses often deal with hundreds or even thousands of other businesses, either as customers or suppliers. Carrying out these transactions electronically provides vast competitive advantages over traditional methods. When implemented properly, ecommerce is often faster, cheaper and more convenient than the traditional methods of bartering goods and services.
				</p>
				<p class="text-justify">
					Electronic transactions have been around for quite some time in the form of Electronic Data Interchange or EDI. EDI requires each supplier and customer to set up a dedicated data link (between them), where ecommerce provides a cost-effective method for companies to set up multiple, ad-hoc links. Electronic commerce has also led to the development of electronic marketplaces where suppliers and potential customers are brought together to conduct mutually beneficial trade.
				</p>
				<p class="text-justify">
					The road to creating a successful online store can be a difficult if unaware of ecommerce principles and what ecommerce is supposed to do for your online business. Researching and understanding the guidelines required to properly implement an e-business plan is a crucial part to becoming successful with online store building.
				</p>
				<div class="continue_reading_btn"><p>Continue Reading..</p></div>
			</div>
			<ul class="list-group box-shadow">
				<li class="list-group-item current" id="magento">
					<div class="fw cf">
						<div class="col-sm-2 fw_i">
							<img src="img/services/icon_magento.jpg" class="img-responsive" alt="Magento Logo">
						</div>
						<div class="col-sm-10 fw_t">
							<h3 style="padding:10px; background-color: #f16321; color: #fff; border-radius:5px; margin-bottom: 5px;">Magento</h3>
							<p>Magento is an ecommerce platform built on open source technology
								which provides online merchants with a flexible shopping cart
								system, as well as control over the look, content and functionality
								of their online store. Magento offers powerful marketing, search
								engine optimization, and catalog-management tools. We believe
								that Magento is one of the best ecommerce platforms available
								today, with editions ranging from community open source, to massive,
								large-scale enterprise SaaS based systems.
							</p>
							<p>
								CommonPlaces uses the community-based Magento product for our ecommerce
								clients. Magento's ability to scale allows shops with only a few products
								and simple needs to easily expand to tens of thousands of products
								and complex custom behavior without changing platforms. It offers
								a variety of plug-ins and themes which can easily enhance a customer's
								experience. There are a lot of aspects to the online store which need
								to be configured, and how well that is accomplished is often dependent
								on business acumen. When it comes to custom functionality, however,
								that is where more complex programming is required.
							</p>
						</div>
					</div>
				</li>
				<li class="list-group-item my_accordion" id="wp_ecommerce">
					<div class="fw cf">
						<div class="col-sm-2 fw_i">
							<img src="img/services/icon_wp_ecommerce.jpg" class="img-responsive" alt="Wordpress E-commerce Logo">
						</div>
						<div class="col-sm-10 fw_t">
							<h3 style="padding:10px; background-color: #3171a9; color: #fff; border-radius:5px; margin-bottom: 5px;">Wordpress E-commerce</h3>
							<p>The WordPress platform originally began as a way to blog online. Over the years, it has evolved into a full blown “content management system” – in other words, a backend software that can “power” any type of website – including an ecommerce website.
							</p>
						</div>
					</div>
				</li>
				<li class="list-group-item my_accordion" id="shopify">
					<div class="fw cf">
						<div class="col-sm-2 fw_i">
							<img src="img/services/icon_shopify.png" class="img-responsive" alt="Shopify Logo">
						</div>
						<div class="col-sm-10 fw_t">
							<h3 style="padding:10px; background-color: #95bf46; color: #fff; border-radius:5px; margin-bottom: 5px;">Shopify</h3>
							<p>Shopify is the most popular choice among the customers to set up their online store. It offers tons of valuable extensions, and it’s ace in the sleeve - simplicity of interaction.
							</p>
							<p>
								With most platforms, you are going to need to spend some extra time figuring out how to use them properly. With Shopify, it’s all pretty much intuitive, and your store setup shouldn’t be any harder than registering for a forum.
							</p>
							<p>
								Shopify is an incredibly reliable platform, and that’s why they take considerably high fees for their services. That’s why if you’re running your business on a budget - maybe you should take a look at some other viable options as well. For what is Shopify worth, it’s still an expensive platform.
							</p>
						</div>
					</div>
				</li>
				<li class="list-group-item my_accordion" id="opencart">
					<div class="fw cf">
						<div class="col-sm-2 fw_i">
							<img src="img/services/logo_opencart.jpg" class="img-responsive" alt="OpentCart Logo">
						</div>
						<div class="col-sm-10 fw_t">
							<h3 style="padding:10px; background-color: #2bb0e8; color: #fff; border-radius:5px; margin-bottom: 5px;">OpenCart</h3>
							<p>OpenCart is free open source ecommerce platform for online merchants.
								OpenCart provides a professional and reliable foundation from which to
								build a successful online store. This foundation appeals to a wide
								variety of users; ranging from seasoned web developers looking for
								a user-friendly interface to use, to shop owners just launching their
								business online for the first time. OpenCart has an extensive amount
								of features that gives you a strong hold over the customization of
								your store. With OpenCart's tools, you can help your online shop
								live up to its fullest potential.
							</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-4 services_links">
		<ul class="list-group box-shadow">
			<li class="list-group-item heading">
				<h4>Related Links</h4></li>
				<li class="list-group-item"><a href="ecommerce-portal#magento" class="scrollaction">Magento</a></li>
				<li class="list-group-item"><a href="ecommerce-portal#wp_ecommerce" class="scrollaction">Wordpress E-commerce</a></li>
				<li class="list-group-item"><a href="ecommerce-portal#shopify" class="scrollaction">Shopify</a></li>
				<li class="list-group-item"><a href="ecommerce-portal#opencart" class="scrollaction">OpenCart</a></li>
		</ul>
	</div>
</div>
{% endblock %}
