{# templates/pages/index.html.twig #}
{% extends 'includes/app.html.twig' %}

{# page title #}
{% block title %} Cloudhead Technologies Private Limited {% endblock %}

{# Meta Description #}
{% block meta_description %} Cloudhead Technologies is an Information Technology Solutions
    & Services provider, specializing in Web and Application Development, Mobile Application,
    Business Process Operations & Automations, E-commerce, ISO Consulting - Audits - Certifications,
    Process Consulting, Cloud and IT Security Consulting and Training provider.{% endblock %}

{# Content goes here #}
{% block content %}
<div class="services_con cf">
	<div class="max_width_800px">
		<img src="img/services/email_markating.jpg" class="img-responsive" alt="Email Marketing">
	</div>
	<br>
	<div class="col-md-8 services_paragraph">
		<div class="s_question_con">
			<div class="s_q">
				<h4> What Is Email Marketing?</h4>
			</div>
			<div class="s_a">
				<p>
					What is email marketing? Basically the use of email to promote
					products and/or services. But a better email marketing definition
					is the use of email to develop relationships with potential
					customers and/or clients. Email marketing is one segment of
					internet marketing, which encompasses online marketing via
					websites, social media, blogs, etc. It is essentially the same
					as direct mail except that instead of sending mail through the
					postal service, messages are sent electronically via email.
				</p>
				<p>
					Much of the spam email we all get proclaiming 'deals' on this,
					and that is a good example of email marketing at its worst; the
					mindless email barrage.
				</p>
				<p>
					Someone somewhere buys an email list (or several!) and sends an
					email along the lines of “Get ___________ (the product name)
					for only $_____! (the amount) to everyone on the list – sometimes
					repeatedly. All this does is annoy everyone and give email
					marketing a bad name.
				</p>
				<p>
					At its best, email marketing allows businesses to keep their
					customers informed and tailor their marketing messages to their
					customers.
				</p>
				<ul class="list-group box-shadow">
					<li class="list-group-item current">
						<h4 class="">Advantages of Dynamic websites</h4>
						</li><li class="list-group-item">The two big advantages of email marketing are price and ease. Emailing is an inexpensive way to advertise your company and its products and/or services compared to many other types of marketing. It's also extremely easy to set up and track an email marketing campaign, making it a very accessible type of marketing for small businesses.</li>
						<li class="list-group-item">Newsletters can be sent to the email list you've built from the people who provided the necessary information on your website, for instance, providing these potential customers with news updates about your company, upcoming events and/or special offers – and, of course, reminding them that your business exists and that maybe it's time for another visit.</li>
					
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-4 services_links">
		<ul class="list-group box-shadow">
			<li class="list-group-item heading">
				<h4>Related Links</h4></li>
				<li class="list-group-item"><a href="pay-per-click">Pay per click</a></li>
				<li class="list-group-item"><a href="social-media-promotion">Social Media Promotion</a></li>
				<li class="list-group-item"><a href="email-markating">Email Marketing</a></li>
		</ul>
	</div>
</div>
{% endblock %}
