{# templates/pages/index.html.twig #}
{% extends 'includes/app.html.twig' %}

{# page title #}
{% block title %} Cloudhead Technologies Private Limited {% endblock %}

{# Meta Description #}
{% block meta_description %} Cloudhead Technologies is an Information Technology Solutions
    & Services provider, specializing in Web and Application Development, Mobile Application,
    Business Process Operations & Automations, E-commerce, ISO Consulting - Audits - Certifications,
    Process Consulting, Cloud and IT Security Consulting and Training provider.{% endblock %}

{# Content goes here #}
{% block content %}
<div class="slider">
    <div class="marquee">
        <div class="marquee_data" data-image="img/slider/1">
            <div class="marquee_panel">
            <p>Simple best fit effective solution in competitive pricing</p>
            <a href="">Get a quote</a><a href="/portfolio" class="green-background">See our work</a>
            </div>
        </div>
        <div class="marquee_data" data-image="img/slider/2">
            <div class="marquee_panel">
            <p>Becoming first choice of Customer through our people, solutions and services
            </p>
            <a href="">Get a quote</a><a href="/portfolio" class="green-background">See our work</a>
            </div>
        </div>
        <div class="marquee_data" data-image="img/slider/3">
            <div class="marquee_panel">
            <p>Providing best fit solution to overcome challenges of customer and meeting their business goals
            </p>
            <a href="">Get a quote</a><a href="/portfolio" class="green-background">See our work</a>
            </div>
        </div>
    </div>
</div>
<div id="about_us" class="h_sections cf">
    <div class="h_section_heading">
      <h1>about</h1>
      <h2>So, who are we?</h2>
    </div>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-lg-7 about_us about_us_left">
          <p class="text-justify">
            Cloudhead Technologies is an Information Technology Solutions & Services provider, specializing in Web and Application Development, Mobile Application, Business Process Operations & Automations, E-commerce, ISO Consulting - Audits - Certifications, Process
            Consulting, Cloud and IT Security Consulting and Training provider.
          </p>
          <p class="text-justify">
			Our value-added solutions & Services leverage IT to enhance performance, increase productivity, efficiency and secure data. Our team combine their profound knowledge, skills and technical expertise with capability of in-depth analysis, design, and implementation of projects of any complexity as per customer’s requirements.
          </p>
          <p class="text-justify">
            Cloudhead Technologies Pvt. Ltd. promotes a vibrant work environment and encourages its employees to express themselves.  People are encouraged to be passionate about their work and curiosity is highly valued and welcome in the workplace.
          </p>
        </div>
        <div class="col-lg-5 about_us about_us_right">
          <img src="img/about.png" class="img-responsive block-center" alt="Cloudhead Technologies About">
        </div>
      </div>
    </div>
</div>

<div class="container-fluid home_services">
  <div class="row">
    <div class="home_services_con cf">
      <div class="cf tiles sevices_columns">
        <ul>
          <li class="column-1">
            <a href=""><img src="img/services-thumb/web-development.png" alt="Web Development"></a>
            <p>Web Development</p>
          </li>
          <li class="column-1">
            <a href=""><img src="img/services-thumb/e-commerce.png" alt="E-commerce Platform"></a>
            <p>E-commerce Platform</p>
          </li>
          <li class="column-1">
            <a href=""><img src="img/services-thumb/digital-markating.png" alt="Digital Markating"></a>
            <p>Digital Markating</p>
          </li>
          <li class="column-1">
            <a href=""><img src="img/services-thumb/mobile-app-development.png" alt="Mobile App Development"></a>
            <p>Mobile App Development</p>
          </li>
          <li class="column-1">
            <a href=""><img src="img/services-thumb/erp.png" alt="ERP"></a>
            <p>ERP</p>
          </li>
          <li class="column-1">
            <a href=""><img src="img/services-thumb/crm.png" alt="CRM"></a>
            <p>CRM</p>
          </li>
          <li class="column-1">
            <a href=""><img src="img/services-thumb/cloud-services.png" alt="Cloud Services"></a>
            <p>Cloud Services</p>
          </li>
          <li class="column-1">
            <a href=""><img src="img/services-thumb/security-consulting-training.png" alt="Security Consulting Training"></a>
            <p>Security Consulting Training</p>
          </li>
          <li class="column-1">
            <a href=""><img src="img/services-thumb/iso-certification.png" alt="Iso Certification"></a>
            <p>Iso Certification</p>
          </li>
          <li class="column-1">
            <a href=""><img src="img/services-thumb/process-consulting.png" alt="Process Consulting"></a>
            <p>Process Consulting</p>
          </li>
        </ul>
      </div>
      <div class="sevices_columns mobile_ad">
        <div class="h_section_heading h_section_heading_1">
          <h1>perfección</h1>
          <h2>Why choose us?</h2>
        </div>
        <div class="mobile_frame">
          <div class="mobile_screen cf">
            <h3>A choice that makes the difference</h3>
            <div class="ms_c_grid cf">
                <div class="col-xs-1">
                  <span class="fa fa-check"></span>
                </div>
                <div class="col-xs-10">
                  <p>Simple best fit effective solution in competitive pricing</p>
                </div>
            </div>
            <div class="ms_c_grid cf">
                <div class="col-xs-1">
                  <span class="fa fa-check"></span>
                </div>
                <div class="col-xs-10">
                  <p>Becoming first choice of Customer through our people, solutions and services</p>
                </div>
            </div>
            <div class="ms_c_grid cf">
                <div class="col-xs-1">
                  <span class="fa fa-check"></span>
                </div>
                <div class="col-xs-10">
                  <p>Providing best fit solution to overcome challenges of customer and meeting their business goals</p>
                </div>
            </div>
          </div>
        </div>
        <div class="cloud_btn">
          <a href="">Read more..</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="" class="h_sections cf sister_concern">
  <div class="cf h_section_heading">
    <h1>A division of</h1>
    <h2>DGD MANAGEMENT SERVICES PVT. LTD.</h2>
  </div>
  <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-4 a_division">
          <a target="_blank" href="http://dgdmspl.com/"><img src="img/dgd1.png" class="img-responsive" alt="DGD Management Services Private Limited"></a>
		</div>
        <div class="col-sm-8 about_us about_us_left about_us_left_1">
          <p class="text-justify">
            Cloudhead Technolgies Pvt. Ltd. is sister concern of
            'DGD Management Services Pvt. Ltd.', a leading ISO
            Certification provider in India and global market
            since last 13 yrs. 'DGD Management Services Pvt.
            Ltd.' has the power of highly professional technocrat
            working in the entire field of management system
            implementation and maintenance, Business process
            improvement, system and production development
            and other related industries.
          </p>
        </div>
    </div>
  </div>
</div>
<div id="lets_get_started" class="h_sections cf">
  <h1>Plan your project</h1>
  <p>We are excited to hear about your great idea. Thanks for your interest in our services. Let's do something great together.</p>
  <a href="contact">Get in touch</a>
</div>
{% endblock %}
