{# templates/pages/index.html.twig #}
{% extends 'includes/app.html.twig' %}

{# page title #}
{% block title %} Cloudhead Technologies Private Limited {% endblock %}

{# Meta Description #}
{% block meta_description %} Cloudhead Technologies is an Information Technology Solutions
    & Services provider, specializing in Web and Application Development, Mobile Application,
    Business Process Operations & Automations, E-commerce, ISO Consulting - Audits - Certifications,
    Process Consulting, Cloud and IT Security Consulting and Training provider.{% endblock %}

{# Content goes here #}
{% block content %}
<div class="services_con cf">
	<div class="max_width_800px">
		<img src="img/services/ios_app_development.png" class="img-responsive" alt="iOS App Development">
	</div>
	<br>
	<div class="col-md-8 services_paragraph">
		<p>
			The growing popularity of the iOS platform has made many business
			owners realize the rich business opportunities offered by the
			development of iPhone and iPad apps. The practical applications
			of using an iOS app for your business are almost limitless. A business
			focused on its growth can use iPhone apps to connect with existing
			users at a personal level while also utilize app marketing services
			to reach out to a large potential customer base. Our iOS developers
			and programmers are highly experienced, top rated and skilled at
			the art of developing flawless iOS based applications for the iPhone
			and iPad devices. Moreover, their infatuation with Apple keeps them
			updated on all the happenings in the world of iOS development, thereby
			facilitating you in making all the right business-centric decisions
			while working on your project. All our Apple iOS developers and
			programmers boast a rich portfolio, which is a testament to their
			highly experienced work in the field and creative skill.
		</p>
		<p>
			Do you have any innovative mobile app concept in your mind or Are
			you looking for an app to substitute or work in parallel with your
			existing applications? Or Are you an established business and want
			to try your expansion into the world of mobile apps or If you have
			a need for any one of the above, you have reached the right place
			which helps you to enter into the world of mobile applications.
		</p>
	</div>
	<div class="col-md-4 services_links ">
		<ul class="list-group box-shadow">
			<li class="list-group-item heading"><h4>Related Links</h4></li>
			<li class="list-group-item"><a href="android-app-development">Android App Development</a></li>
			<li class="list-group-item"><a href="ios-app-development">iOS App development</a></li>
			<li class="list-group-item"><a href="cross-platform-app-development">Cross Platform App Development</a></li>
		</ul>
	</div>
</div>
{% endblock %}
