{# templates/pages/index.html.twig #}
{% extends 'includes/app.html.twig' %}

{# page title #}
{% block title %} Cloudhead Technologies Private Limited {% endblock %}

{# Meta Description #}
{% block meta_description %} Cloudhead Technologies is an Information Technology Solutions
    & Services provider, specializing in Web and Application Development, Mobile Application,
    Business Process Operations & Automations, E-commerce, ISO Consulting - Audits - Certifications,
    Process Consulting, Cloud and IT Security Consulting and Training provider.{% endblock %}

{# Content goes here #}
{% block content %}
<div class="op_banner op_overview">
  <h1>Cloudhead Overview</h1>
</div>
<div class="about_us_sections cf" id="the_who">
		<div class="col-md-4 about_us_sections_heading">
			<div class="row">
				<h1>The Who</h1>
			</div>
		</div>
		<div class="col-md-8 about_us_sections_content">
			<div class="row">
				<blockquote>
					Value of an idea lies in the using of it."
					<footer>Thomas Edison, co-founder of GE</footer>
				</blockquote>
				<p>
					Cloudhead Technologies Pvt. Ltd. is an Information Technology Solutions & Services provider, specializing in Web and Application Development, Mobile Application, Business Process Operations & Automations, E-commerce, ISO Consulting - Audits - Certifications, Process
					Consulting, IT and Cloud Security Consulting and Training provider.
				</p>
				<p>
					Our value-added solutions & Services leverage IT to enhance performance, increase productivity, efficiency and secure data. Our team combine their profound knowledge, skills and technical expertise with capability of in-depth analysis, design, and implementation
					of projects of any complexity as per customer’s requirements.
				</p>
				<p>
					Cloudhead Technologies Pvt. Ltd. promotes a vibrant work environment and encourages its employees to express themselves.  People are encouraged to be passionate about their work and curiosity is highly valued and welcome in the workplace.
				</p>
			</div>
		</div>
	</div>
	<div class="about_us_sections cf" id="the_who">
		<div class="col-md-4 about_us_sections_heading">
			<div class="row">
			</div>
		</div>
		<div class="col-md-8 about_us_sections_content">
			<div class="row">
				<h2 style="letter-spacing: 2px;"><a href="http://dgdmspl.com"><mark>DGD MANAGEMENT SERVICES PVT. LTD.</mark></a></h2>
				<br><br>
				<p>
					Cloudhead Technolgies Pvt. Ltd. is a division of 'DGD MANAGEMENT
					SERVICES Pvt. Ltd.', a leading ISO Certification
					provider in India and global market since last 13 yrs.
					'DGD Management Services Pvt. Ltd.' has the power
					of highly professional technocrat working in the
					entire field of management system implementation
					and maintenance, Business process improvement,
					system and production development and other related
					industries.
				</p>
				<p>
					The main objective of 'DGD Management Services Pvt. Ltd.'
					is to spread awareness, providing consultancy, implement
					and provide certification of  various management system
					like 'Quality Management System (ISO 9001)', 'Information
					Security Management System (ISO 27001)', 'Information
					Service Management System (ISO 20001)', 'Environment
					Management System (ISO 14001)', 'OHSAS (ISO 18001)',
					'Food Safety Management System (ISO 22000)', 'CE Marking',
					'HALAL', 'BIFMA' and NABL Certification etc [German (DAKKS),
					DAC, IAS, Canada accreditation].
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
