{# templates/pages/index.html.twig #}
{% extends 'includes/app.html.twig' %}

{# page title #}
{% block title %} Cloudhead Technologies Private Limited {% endblock %}

{# Meta Description #}
{% block meta_description %} Cloudhead Technologies is an Information Technology Solutions
    & Services provider, specializing in Web and Application Development, Mobile Application,
    Business Process Operations & Automations, E-commerce, ISO Consulting - Audits - Certifications,
    Process Consulting, Cloud and IT Security Consulting and Training provider.{% endblock %}

{# Content goes here #}
{% block content %}
<div class="services_con cf">
	<div class="max_width_800px">
		<img src="img/services/pay_per_click.png" class="img-responsive" alt="Pay Per Click">
	</div>
	<br>
	<div class="col-md-8 services_paragraph">
		<div class="s_question_con">
			<div class="s_q">
				<h4>What is PPC??</h4>
			</div>
			<div class="s_a">
				<p>
					PPC stands for pay-per-click, a model of internet marketing in
					which advertisers pay a fee each time one of their ads is clicked.
					Essentially, it’s a way of buying visits to your site, rather
					than attempting to “earn” those visits organically.
				</p>
				<p>
					Search engine advertising is one of the most popular forms of PPC.
					It allows advertisers to bid for ad placement in a search engine's
					sponsored links when someone searches on a keyword that is related
					to their business offering. For example, if we bid on the keyword
					“Digital Markating,” our ad might show up in the very top spot on the
					Google results page.
				</p>
				<p>
					Every time our ad is clicked, sending a visitor to our website,
					we have to pay the search engine a small fee. When PPC is working
					correctly, the fee is trivial, because the visit is worth more
					than what you pay for it. In other words, if we pay $3 for a click,
					but the click results in a $300 sale, then we’ve made a hefty profit.
				</p>
				<p>
					A lot goes into building a winning PPC campaign: from researching
					and selecting the right keywords, to organizing those keywords into
					well-organized campaigns and ad groups, to setting up PPC landing
					pages that are optimized for conversions. Search engines reward
					advertisers who can create relevant, intelligently targeted
					pay-per-click campaigns by charging them less for ad clicks.
					If your ads and landing pages are useful and satisfying to users,
					Google charges you less per click, leading to higher profits for
					your business. So if you want to start using PPC, it’s important
					to learn how to do it right.
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-4 services_links">
		<ul class="list-group box-shadow">
			<li class="list-group-item heading">
				<h4>Related Links</h4></li>
				<li class="list-group-item"><a href="pay-per-click">Pay per click</a></li>
				<li class="list-group-item"><a href="social-media-promotion">Social Media Promotion</a></li>
				<li class="list-group-item"><a href="email-markating">Email Marketing</a></li>
		</ul>
	</div>
</div>
{% endblock %}
