{# templates/pages/index.html.twig #}
{% extends 'includes/app.html.twig' %}

{# page title #}
{% block title %} Cloudhead Technologies Private Limited {% endblock %}

{# Meta Description #}
{% block meta_description %} Cloudhead Technologies is an Information Technology Solutions
    & Services provider, specializing in Web and Application Development, Mobile Application,
    Business Process Operations & Automations, E-commerce, ISO Consulting - Audits - Certifications,
    Process Consulting, Cloud and IT Security Consulting and Training provider.{% endblock %}

{# Content goes here #}
{% block content %}
<div class="services_con cf">
	<div class="max_width_800px">
		<img src="img/services/seo_friendly_web_design.png" class="img-responsive" alt="Responsive web design">
	</div>
	<br>
	<div class="col-md-8 services_paragraph">
		<p>Many times you hear the term “SEO” or
			“Search Engine Optimization" but what does this really
			mean and why do you need one? How can a SEO friendly
			website help your business grow?
		</p>
		<p>
			These are the questions we will try to answer in this
			section always having in mind that beginners to SEO may
			be reading it so we will try to avoid technical terms
			or advanced SEO practices and theories.
		</p>
			<div class="s_question_con">
				<div class="s_q">
					<h4>What do we mean by a Search Engine Friendly Website?</h4>
				</div>
				<div class="s_a">
					<p>
						A SEO friendly website has those configurations and features
						so it’s easy for search engines to crawl (read) and understand
						what the particular website is all about. The most important
						characteristics of a SEO friendly website are:
					</p>
					<ul class="list-group box-shadow">
						<li class="list-group-item my_accordion current">
							<h4 class="accordion_title">#1 – Unique titles and Descriptions for all pages</h4>
							<p class="accordion_body">
								Each page of the website (including the home page) has
								a unique title and description. The titles are between
								60-65 characters and the descriptions are aprx 150 characters.
								Titles and descriptions describe accurately what the page is
								about without being keyword stuffed.
							</p>
						</li>
						<li class="list-group-item my_accordion">
							<h4 class="accordion_title">#2 – Well formatted URLs – URLS </h4>
							<p class="accordion_body">
								Permanent links (that’s the url of a webpage) are descriptive,
								all lower case and separated by dashes.
							</p>
						</li>
						<li class="list-group-item my_accordion">
							<h4 class="accordion_title">#3- Fast loading web pages</h4>
							<p class="accordion_body">
								Neither people nor search engines want websites that are
								slow to load. On the contrary fast loading websites are
								SEO friendly (meaning they have an advantage in ranking
								algorithms over websites that are slower) and generate
								more user interactions (sales, newsletter signups, contact
								forms submissions etc).
							</p>
						</li>
						<li class="list-group-item my_accordion">
							<h4 class="accordion_title">#4 – It has unique content</h4>
							<p class="accordion_body">
								Content on the website is not found anywhere else on the web,
								all pages have unique and useful content. This means a
								website cannot be SEO friendly if it has content copied
								from other web sites.
							</p>
						</li>
						<li class="list-group-item my_accordion">
							<h4 class="accordion_title">#5 – Includes images that are optimized for search engines</h4>
							<p class="accordion_body">
								Search engines prefer text that’s the truth, but you also
								need to have images to your pages because people like it,
								it makes your content more interesting, easier to read,
								sharable etc. When you do so, make sure that the images
								are optimized for size (tools like smushit can help you
								reduce image file size without losing quality) and also
								that you set a meaningful image filename and ALT text.
							</p>
						</li>
					</ul>
				</div>
			</div>
	</div>
	<div class="col-md-4 services_links">
		<ul class="list-group box-shadow">
			<li class="list-group-item heading">
				<h4>Related Links</h4></li>
			<li class="list-group-item"><a href="responsive-web-design">Responsive Web Design</a></li>
			<li class="list-group-item"><a href="seo-friendly-web-design">SEO Friendly Web Design</a></li>
			<li class="list-group-item"><a href="static-dynamic-web-design">Static Dynamic Website Building</a></li>
			<li class="list-group-item"><a href="psd-to-html">PSD to HTML</a></li>
			<li class="list-group-item"><a href="wordpress-websites">Wordpress Websites</a></li>
		</ul>
	</div>
</div>
{% endblock %}
