{# templates/pages/index.html.twig #}
{% extends 'includes/app.html.twig' %}

{# page title #}
{% block title %} Cloudhead Technologies Private Limited {% endblock %}

{# Meta Description #}
{% block meta_description %} Cloudhead Technologies is an Information Technology Solutions
    & Services provider, specializing in Web and Application Development, Mobile Application,
    Business Process Operations & Automations, E-commerce, ISO Consulting - Audits - Certifications,
    Process Consulting, Cloud and IT Security Consulting and Training provider.{% endblock %}

{# Content goes here #}
{% block content %}
<div class="services_con cf">
	<div class="max_width_800px">
		<img src="img/services/social_media_promotion.png" class="img-responsive" alt="Social Media Promotion">
	</div>
	<br>
	<div class="col-md-8 services_paragraph">
		<div class="s_question_con">
			<div class="s_q">
				<h4>
					Social Media Marketing for Businesses
				</h4>
			</div>
			<div class="s_a">
				<p>
					Social media marketing is a powerful way for businesses of all
					sizes to reach prospects and customers. Your customers are already
					interacting with brands through social media, and if you're not
					speaking directly to your audience through social platforms like
					Facebook, Twitter, Instagram, and Pinterest, you're missing out!
					Great marketing on social media can bring remarkable success to
					your business, creating devoted brand advocates and even driving
					leads and sales.
				</p>
			</div><ul class="list-group box-shadow">
				<li class="list-group-item current">
					<div class="fw cf">
						<div class="col-sm-2 fw_i">
							<img src="img/services/icon_facebook.png" class="img-responsive" alt="Facebook Logo">
						</div>
						<div class="col-sm-10 fw_t">
							<h3 style="padding:10px; background-color: #395a9a; color: #fff; border-radius:5px; margin-bottom: 5px;">Using Facebook for Social Media Marketing</h3>
							<p>Facebook’s casual, friendly environment requires an active social
								media marketing strategy. Start by creating a Facebook Business Fan Page.
								You will want to pay careful attention to layout, as the visual
								component is a key aspect of the Facebook experience.
							</p>
							<p>
								Facebook is a place people go to relax and chat with friends,
								so keep your tone light and friendly. And remember, organic
								reach on Facebook can be extremely limited, so consider a
								cost-effective Facebook ad strategy, which can have a big
								impact on your organic Facebook presence as well!
							</p>
						</div>
					</div>
				</li>
				<li class="list-group-item my_accordion">
					<div class="fw cf">
						<div class="col-sm-2 fw_i">
							<img src="img/services/icon_twitter.png" class="img-responsive" alt="Twitter Logo">
						</div>
						<div class="col-sm-10 fw_t">
							<h3 style="padding:10px; background-color: #55adee; color: #fff; border-radius:5px; margin-bottom: 5px;">Using Twitter for Social Media Marketing</h3>
							<p>Twitter is the social media marketing tool that lets you broadcast
								your updates across the web. Follow tweeters in your industry or
								related fields, and you should gain a steady stream of followers
								in return.
							</p>
							<p>
								Mix up your official tweets about specials, discounts, and news
								with fun, brand-building tweets . Be sure to retweet when a
								customer has something nice to say about you, and don’t forget
								to answer people’s questions when possible. Using Twitter as
								a social media marketing tool revolves around dialog and communication,
								so be sure to interact as much as possible to nurture and build your following.
							</p>
						</div>
					</div>
				</li>
				<li class="list-group-item my_accordion">
					<div class="fw cf">
						<div class="col-sm-2 fw_i">
							<img src="img/services/icon_youtube.png" class="img-responsive" alt="YouTube Logo">
						</div>
						<div class="col-sm-10 fw_t">
							<h3 style="padding:10px; background-color: #cd201f; color: #fff; border-radius:5px; margin-bottom: 5px;">Using YouTube for Social Media Marketing</h3>
							<p>YouTube is the number one place for creating and sharing video content,
								and it can also be an incredibly powerful social media marketing tool.
								Many businesses try to create video content with the aim of having
								their video “go viral,” but in reality those chances are pretty slim.
								Instead, focus on creating useful, instructive “how-to” videos.
								These how-to videos also have the added benefit of ranking on the
								video search results of Google, so don't under-estimate the power
								of video content!
							</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-4 services_links">
		<ul class="list-group box-shadow">
			<li class="list-group-item heading">
				<h4>Related Links</h4></li>
				<li class="list-group-item"><a href="pay-per-click">Pay per click</a></li>
				<li class="list-group-item"><a href="social-media-promotion">Social Media Promotion</a></li>
				<li class="list-group-item"><a href="email-markating">Email Marketing</a></li>
		</ul>
	</div>
</div>
{% endblock %}
