{# templates/pages/index.html.twig #}
{% extends 'includes/app.html.twig' %}

{# page title #}
{% block title %} Cloudhead Technologies Private Limited {% endblock %}

{# Meta Description #}
{% block meta_description %} Cloudhead Technologies is an Information Technology Solutions
    & Services provider, specializing in Web and Application Development, Mobile Application,
    Business Process Operations & Automations, E-commerce, ISO Consulting - Audits - Certifications,
    Process Consulting, Cloud and IT Security Consulting and Training provider.{% endblock %}

{# Content goes here #}
{% block content %}
<div class="services_con cf">
	<div class="max_width_800px">
		<img src="img/services/static_dynamic_web_design.png" class="img-responsive" alt="Static Dynamic Web Design">
	</div>
	<br>
	<div class="col-md-8 services_paragraph">
		<div class="s_question_con">
			<div class="s_q">
				<h4>What are static and dynamic websites?</h4>
			</div>
			<div class="s_a">
				<p>
					There are many static websites on the Internet, you may not be able to tell immediately if it is a static or dynamic website, but the chances are, if the site looks basic and is for a smaller company, and simply delivers information without any bells
					and whistles, it could be a static website. Static websites can only really be updated by someone with a knowledge of website development. Static websites are the cheapest to develop and host, and many smaller companies still use these to get a
					web presence.
				</p>
				<ul class="list-group box-shadow">
					<li class="list-group-item current">
						<h4 class="">Advantages of static websites</h4>
						<ul class="list-group">
							<li class="list-group-item">Quick to develop</li>
							<li class="list-group-item">Cheap to develop</li>
							<li class="list-group-item">Cheap to host</li>
						</ul>
					</li>
					<li class="list-group-item my_accordion">
						<h4 class="">Disadvantages of static websites</h4>
						<ul class="list-group">
							<li class="list-group-item">Requires web development expertise to update site</li>
							<li class="list-group-item">Site not as useful for the user</li>
							<li class="list-group-item">Content can get stagnant</li>
						</ul>
					</li>
				</ul>

				<p class="text-justify">At a basic level, a dynamic website can give the website owner the ability to simply update and add new content to the site. For example,
					news and events could be posted to the site through a simple browser interface. Dynamic features of a site are only limited by imagination. Some examples of dynamic website features could be: content management system, e-commerce system, bulletin
					/ discussion boards, intranet or extranet facilities, ability for clients or users to upload documents, ability for administrators or users to create content or add information to a site (dynamic publishing).
				</p>
				<ul class="list-group box-shadow">
					<li class="list-group-item current">
						<h4 class="">Advantages of Dynamic websites</h4>
						<ul class="list-group">
							<li class="list-group-item">Much more functional website</li>
							<li class="list-group-item">Much easier to update</li>
							<li class="list-group-item">New content brings people back to the site and helps in the search engines</li>
							<li class="list-group-item">Can work as a system to allow staff or users to collaborate</li>
						</ul>
					</li>
					<li class="list-group-item my_accordion">
						<h4 class="">Disadvantages of Dynamic websites</h4>
						<ul class="list-group">
							<li class="list-group-item">Slower / more expensive to develop</li>
							<li class="list-group-item">Hosting costs a little more</li>
						</ul>
					</li>
				</ul>
				<h2><mark>Summary</mark></h2>
				<br>
				<p>Many sites from the last decade are static, but more and more people are realising the advantages of having a dynamic website. Dynamic websites can make the most of your site and either use it as a tool or create a professional, interesting experience for your visitors.</p>
			</div>
		</div>
	</div>
	<div class="col-md-4 services_links">
		<ul class="list-group box-shadow">
			<li class="list-group-item heading">
				<h4>Related Links</h4></li>
			<li class="list-group-item"><a href="responsive-web-design">Responsive Web Design</a></li>
			<li class="list-group-item"><a href="seo-friendly-web-design">SEO Friendly Web Design</a></li>
			<li class="list-group-item"><a href="static-dynamic-web-design">Static Dynamic Website Building</a></li>
			<li class="list-group-item"><a href="psd-to-html">PSD to HTML</a></li>
			<li class="list-group-item"><a href="wordpress-websites">Wordpress Websites</a></li>
		</ul>
	</div>
</div>
{% endblock %}
