{# templates/pages/index.html.twig #}
{% extends 'includes/app.html.twig' %}

{# page title #}
{% block title %} Cloudhead Technologies Private Limited {% endblock %}

{# Meta Description #}
{% block meta_description %} Cloudhead Technologies is an Information Technology Solutions
    & Services provider, specializing in Web and Application Development, Mobile Application,
    Business Process Operations & Automations, E-commerce, ISO Consulting - Audits - Certifications,
    Process Consulting, Cloud and IT Security Consulting and Training provider.{% endblock %}

{# Content goes here #}
{% block content %}
<div class="op_banner op_story">
  <h1>Our Story</h1>
</div>
<div class="about_us_sections cf" id="the_who">
		<div class="col-md-4 about_us_sections_heading">
			<div class="row">
				<h1>The How</h1>
			</div>
		</div>
		<div class="col-md-8 about_us_sections_content">
			<div class="row">
				<p>
					In acute inspiration to craft an enterprise which would differ from other start-ups happening around, we built ourselves robust in terms of making upfront investments in right talents, having a state-of-art infra at the most prestigious IT hub in eastern
					India, designing a unique and well-defined sales strategy and above all, exercising the team in one mantra, i.e. CUSTOMER FIRST.
				</p>
				<p>
					Cloudhead Technologies has set the benchmark as a small-sized technology company that aims to redefine the IT landscape.
				</p>
				<p>
					We enable greater operational efficiency, cost control and value addition through advanced IT Solutions and Services to our clients. Cloudhead Tech. guarantees personalized attention, open communication, accuracy and delivery on time at competitive prices.
				</p>
			</div>
		</div>
	</div>
{% endblock %}
