{# templates/pages/index.html.twig #}
{% extends 'includes/app.html.twig' %}

{# page title #}
{% block title %} Cloudhead Technologies Private Limited {% endblock %}

{# Meta Description #}
{% block meta_description %} Cloudhead Technologies is an Information Technology Solutions
    & Services provider, specializing in Web and Application Development, Mobile Application,
    Business Process Operations & Automations, E-commerce, ISO Consulting - Audits - Certifications,
    Process Consulting, Cloud and IT Security Consulting and Training provider.{% endblock %}

{# Content goes here #}
{% block content %}
<div class="op_banner op_team">
  <h1>Our Story</h1>
</div>
<div class="about_us_sections cf">
	<div class="col-md-4 about_us_sections_heading">
		<div class="row">
			<h1>Meet the team</h1>
		</div>
		<div class="row experience box-shadow">
			<h3><span class="fa fa-handshake-o"></span> Experience</h3>
			<div class="exp_item">
				<span class="mlabel">Web Development</span>
				<div class="e_level">
					<div class="level_p" data-months="119" data-level-p="50" style="width: 50%;"><b>119 months</b></div>
				</div>
			</div>
			<div class="exp_item">
				<span class="mlabel">Software Development</span>
				<div class="e_level">
					<div class="level_p" data-months="155" data-level-p="55" style="width: 55%;"><b>155 months</b></div>
				</div>
			</div>
			<div class="exp_item">
				<span class="mlabel">Process Management</span>
				<div class="e_level">
					<div class="level_p" data-months="180" data-level-p="60" style="width: 60%;"><b>180 months</b></div>
				</div>
			</div>
			<div class="exp_item">
				<span class="mlabel">Process Consulting</span>
				<div class="e_level">
					<div class="level_p" data-months="120" data-level-p="50" style="width: 50%;"><b>120 months</b></div>
				</div>
			</div>
			<div class="exp_item">
				<span class="mlabel">Marketing (Web &amp; Software)</span>
				<div class="e_level">
					<div class="level_p" data-months="828" data-level-p="90" style="width: 90%;"><b>828 months</b></div>
				</div>
			</div>
			<div class="exp_item">
				<span class="mlabel">Auditing</span>
				<div class="e_level">
					<div class="level_p" data-months="384" data-level-p="70" style="width: 70%;"><b>384 months</b></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-8 about_us_sections_content">
		<div class="row">
			<p>
				We have a <mark>#can-do</mark> attitude backed up by experience of more than 1800 months, delivering high-end, creative solutions on time and on budget.
			</p>
			<div class="team_photo cf">
				<div class="row">
					<!-- end ngRepeat: x in records -->
					<div class="col-lg-4 col-md-6 col-xs-12 a_team_profile ng-scope">
						<img ="img/team/dipankardutta_dp.png" class="img-responsive" alt="D. Dutta" src="img/team/dipankardutta_dp.png">
						<div class="team_overlay">
							
							<h5 class="ng-binding">D. Dutta <br> (Lead Auditor &amp; COO)</h5>
						</div>
					</div>
					<!-- ngRepeat: x in records -->
					<div class="col-lg-4 col-md-6 col-xs-12 a_team_profile ng-scope" >
						<img ="img/team/jayita_ghosh_dp.png" class="img-responsive" alt="Jayita Ghosh" src="img/team/jayita_ghosh_dp.jpg">
						<div class="team_overlay">
							
							<h5 class="ng-binding">Jayita Ghosh <br> (Director)</h5>
						</div>
					</div>
					<!-- ngRepeat: x in records -->
					<div class="col-lg-4 col-md-6 col-xs-12 a_team_profile ng-scope" >
						<img ="img/team/amitava_ghosh_dp.png" class="img-responsive" alt="A.Ghosh" src="img/team/amitava_ghosh_dp.png">
						<div class="team_overlay">
							
							<h5 class="ng-binding">A.Ghosh <br> (Lead Auditor &amp; CTO)</h5>
						</div>
					</div>
					<!-- end ngRepeat: x in records -->
					<div class="col-lg-4 col-md-6 col-xs-12 a_team_profile ng-scope" >
						<img ="img/team/kritika.png" class="img-responsive" alt="Kritika" src="img/team/kritika.png">
						<div class="team_overlay">
							
							<h5 class="ng-binding">Kritika <br> (Tele Calling Executive)</h5>
						</div>
					</div>
					<!-- end ngRepeat: x in records -->
					<div class="col-lg-4 col-md-6 col-xs-12 a_team_profile ng-scope" >
						<img ="img/team/sumansarkar_dp.png" class="img-responsive" alt="Suman Sarkar" src="img/team/sumansarkar_dp.png">
						<div class="team_overlay">
							
							<h5 class="ng-binding">Suman Sarkar <br> (Web Developer)</h5>
						</div>
					</div>
					<!-- end ngRepeat: x in records -->
					<div class="col-lg-4 col-md-6 col-xs-12 a_team_profile ng-scope" >
						<img ="img/team/dwiprajdutta_dp.png" class="img-responsive" alt="Dwipraj Dutta" src="img/team/dwiprajdutta_dp.png">
						<div class="team_overlay">
							
							<h5 class="ng-binding">Dwipraj Dutta <br> (Web Developer)</h5>
						</div>
					</div>
					<!-- end ngRepeat: x in records -->
					<div class="col-lg-4 col-md-6 col-xs-12 a_team_profile ng-scope" >
						<img ="img/team/sudhangshu_sekhar_maitrasumansarkar_dp.png" class="img-responsive" alt="Sudhangshu Sekhar Maitra" src="img/team/sudhangshu_sekhar_maitrasumansarkar_dp.png">
						<div class="team_overlay">
							
							<h5 class="ng-binding">Sudhangshu Sekhar Maitra <br> (Quality Control Head)</h5>
						</div>
					</div>
					<!-- end ngRepeat: x in records -->
					<div class="col-lg-4 col-md-6 col-xs-12 a_team_profile ng-scope" >
						<img ="img/team/avijit_majumdar_dp.png" class="img-responsive" alt="Avijit Majumdar" src="img/team/avijit_majumdar_dp.png">
						<div class="team_overlay">
							
							<h5 class="ng-binding">Avijit Majumdar <br> (Manager - Business Development)</h5>
						</div>
					</div>
					<!-- end ngRepeat: x in records -->
					<div class="col-lg-4 col-md-6 col-xs-12 a_team_profile ng-scope" >
						<img ="img/team/jewel_roy_dp.png" class="img-responsive" alt="Jewel Roy" src="img/team/jewel_roy_dp.png">
						<div class="team_overlay">
							
							<h5 class="ng-binding">Jewel Roy <br> (Marketing Executive)</h5>
						</div>
					</div>
					<!-- end ngRepeat: x in records -->
					<div class="col-lg-4 col-md-6 col-xs-12 a_team_profile ng-scope" >
						<img ="img/team/apu_sarkar_dp.png" class="img-responsive" alt="Apu Sarkar" src="img/team/apu_sarkar_dp.png">
						<div class="team_overlay">
							
							<h5 class="ng-binding">Apu Sarkar <br> (Documents Controller)</h5>
						</div>
					</div>
					<!-- end ngRepeat: x in records -->
					<div class="col-lg-4 col-md-6 col-xs-12 a_team_profile ng-scope" >
						<img ="img/team/srimanta_kundu_dp.png" class="img-responsive" alt="Srimanta Kundu" src="img/team/srimanta_kundu_dp.png">
						<div class="team_overlay">
							
							<h5 class="ng-binding">Srimanta Kundu <br> (Auditor)</h5>
						</div>
					</div>
					<!-- end ngRepeat: x in records -->
					<div class="col-lg-4 col-md-6 col-xs-12 a_team_profile ng-scope" >
						<img ="img/team/sanjay_basu_dp.png" class="img-responsive" alt="Sanjay Basu" src="img/team/sanjay_basu_dp.png">
						<div class="team_overlay">
							
							<h5 class="ng-binding">Sanjay Basu <br> (Marketing Executive)</h5>
						</div>
					</div>
					<!-- end ngRepeat: x in records -->
					<div class="col-lg-4 col-md-6 col-xs-12 a_team_profile ng-scope" >
						<img ="img/team/himadri_sekhar_nath_dp.png" class="img-responsive" alt="Himadri Sekhar Nath" src="img/team/himadri_sekhar_nath_dp.png">
						<div class="team_overlay">
							
							<h5 class="ng-binding">Himadri Sekhar Nath <br> (Office Manager)</h5>
						</div>
					</div>
					<!-- end ngRepeat: x in records -->
					<div class="col-lg-4 col-md-6 col-xs-12 a_team_profile ng-scope" >
						<img ="img/team/dwiprajdutta_dp.png" class="img-responsive" alt="Dwipraj Dutta" src="img/team/dwiprajdutta_dp.png">							
						<div class="team_overlay">
							
							<h5 class="ng-binding">Bikramjit Majumdar <br> (Executive - Digital Marketing &amp; Strategy)</h5>
						</div>
					</div>
					<!-- end ngRepeat: x in records -->
					<div class="col-lg-4 col-md-6 col-xs-12 a_team_profile ng-scope" >
						<img ="img/team/sumansarkar_dp.png" class="img-responsive" alt="Suman Sarkar" src="img/team/sumansarkar_dp.png">
						<div class="team_overlay">
							
							<h5 class="ng-binding">Debesh Kumar Dutta <br> (Asst. Executive - Digital Marketing)</h5>
						</div>
					</div>
					<!-- end ngRepeat: x in records -->
					<div class="col-lg-4 col-md-6 col-xs-12 a_team_profile ng-scope" >
						<img ="img/team/sudhangshu_sekhar_maitrasumansarkar_dp.png" class="img-responsive" alt="Sudhangshu Sekhar Maitra" src="img/team/sudhangshu_sekhar_maitrasumansarkar_dp.png">
						<div class="team_overlay">
							
							<h5 class="ng-binding">Koushik Guha <br> (Executive - Field Marketing)</h5>
						</div>
					</div>
					<!-- end ngRepeat: x in records -->
					<div class="col-lg-4 col-md-6 col-xs-12 a_team_profile ng-scope" >
						<img ="img/team/sudhangshu_sekhar_maitrasumansarkar_dp.png" class="img-responsive" alt="Sudhangshu Sekhar Maitra" src="img/team/jewel_roy_dp.png">
						<div class="team_overlay">
							
							<h5 class="ng-binding">Debasis Nag<br> (Executive - Marketing)</h5>
						</div>
					</div>
					<!-- end ngRepeat: x in records -->
					<div class="col-lg-4 col-md-6 col-xs-12 a_team_profile ng-scope" >
						<img ="img/team/avijit_majumdar_dp.png" class="img-responsive" alt="Avijit Majumdar" src="img/team/avijit_majumdar_dp.png">
						<div class="team_overlay">
							
							<h5 class="ng-binding">P. Sarkar <br> (Marketing Consultant - Corporate Sector)</h5>
						</div>
					</div>
					<!-- end ngRepeat: x in records -->
					<div class="col-lg-4 col-md-6 col-xs-12 a_team_profile ng-scope" >
						<img ="img/team/apu_sarkar_dp.png" class="img-responsive" alt="Apu Sarkar" src="img/team/apu_sarkar_dp.png">
						<div class="team_overlay">
							
							<h5 class="ng-binding">S. Das <br> (Sr. Executive - Marketing)</h5>
						</div>
					</div>
					<!-- end ngRepeat: x in records -->
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
