{# templates/pages/index.html.twig #}
{% extends 'includes/app.html.twig' %}

{# page title #}
{% block title %} Cloudhead Technologies Private Limited {% endblock %}

{# Meta Description #}
{% block meta_description %} Cloudhead Technologies is an Information Technology Solutions
    & Services provider, specializing in Web and Application Development, Mobile Application,
    Business Process Operations & Automations, E-commerce, ISO Consulting - Audits - Certifications,
    Process Consulting, Cloud and IT Security Consulting and Training provider.{% endblock %}

{# Content goes here #}
{% block content %}
<div class="services_con cf">
		<div class="max_width_800px">
			<img src="img/services/php_web_application.png" class="img-responsive" alt="PHP Web Application">
		</div>
		<br>
		<div class="col-md-8 services_paragraph">
			<p>
				PHP is one of the widely used programming languages nowadays
				and it is an open source platform available free of cost that
				has a huge web supportive community. MySQL provides an ideal
				platform for making fast and consistent solutions. PHP MySQL
				is the most used technology application that supports the
				database so the user can fetch the required information from
				it and can update it as per the arousing needs. Cloudhead Technologies
				constructs the PHP MySQL based web applications that are remote
				configurable and compatible to all operating systems and web
				browsers too.
			</p>
			<p>
				The programmers at our firm develop dynamic websites which are
				backed by well-built database connectivity through which the users
				can get customized solutions. We meticulously work on your projects
				to make them stand apart from others and can get more traffic to
				their website. Best programming practices are followed during the
				coding process so as to make the code-flow easy to understand and
				follow. Our solutions are very handy and synchronized with both
				performance and quality to build high-end applications.
			</p>
				<div class="s_question_con">
					<div class="s_q">
						<h4>What is Responsive Web design?</h4>
					</div>
					<div class="s_a">
						<p>
							Responsive Web design is the approach that suggests
							that design and development should respond to the
							user’s behavior and environment based on screen size,
							platform and orientation.
						</p>
						<p>
							The practice consists of a mix of flexible grids and layouts,
							images and an intelligent use of CSS media queries. As the user
							switches from their laptop to iPad, the website should
							automatically switch to accommodate for resolution, image
							size and scripting abilities. In other words, the website
							should have the technology to automatically respond to the
							user’s preferences. This would eliminate the need for a
							different design and development phase for each new gadget
							on the market.
						</p>
					</div>
				</div>
		</div>
		<div class="col-md-4 services_links ">
			<ul class="list-group box-shadow">
				<li class="list-group-item heading"><h4>Related Links</h4></li>
				<li class="list-group-item"><a href="php_web_application.php">PHP Web Application</a></li>
				<li class="list-group-item"><a href="wordpress_joomla_drupal.php">Wordpress, Joomla, Drupal</a></li>
				<li class="list-group-item"><a href="blog_design.php">Blog Design</a></li>
				<li class="list-group-item"><a href="php_frameworks.php">Laravel, Symfony, Codeigniter</a></li>
			</ul>
		</div>
	</div>
{% endblock %}
