{% extends ('includes/app.html.twig') %}

{% block content %}
	<div class="container admin-area-container">
		<ul class="list-group">
			<li class="list-group-item"><a href="/admin/dashboard/adderss">Address action</a></li>
			<li class="list-group-item"><a href="/admin/dashboard/faq">FAQ action</a></li>
		</ul>
	</div>
{% endblock %}