<div class="footer cf">
		<div class="col-md-8 footer_left">
			<ul>
				<li>
					<p>© 2018</p>
				</li>
				<li>
					<p><a href="mailto:info@cloudheadtechnologies.com">info@cloudheadtechnologies.com</a></p>
				</li>
				<li>
					<p>+(91) 9038069355, +(91) 9874400015</p>
				</li>
			</ul>
		</div>
		<div class="col-md-4 footer_right">
			<ul>
				<li>
					<a href="">
						<p>facebook</p>
					</a>
				</li>
				<li>
					<a href="">
						<p>twitter</p>
					</a>
				</li>
				<li>
				<a target="_blank" href="https://www.linkedin.com/in/cloudhead-technologies-472568160">
						<p>linkedin</p>
					</a>
				</li>
			</ul>
		</div>
	</div>