{% extends ('includes/app.html.twig') %}
{% block content %}
	<div class="container admin-area-container">
		
		{{ dump(all) }}
		{{ dump(addresses) }}
		{% for adresses as adress %}
			<li>{address.a_name}</li>
		{% endfor %}
	</div>
{% endblock %}