{# templates/iso/index.html.twig #}
{% extends 'includes/app.html.twig' %}

{# page title #}
{% block title %} Cloudhead Technologies Private Limited {% endblock %}

{% block meta_description %} {% endblock %}

{% block content %} 

<div class="container myContainer-iso">
    <div class="col-sm-6">
        <ul class="list-group iso-group">
            <li class="list-group-item cf iso-group-item">
                <div class="col-sm-5 iso-group-pic" data-background="iso-9001-2015.jpg">                    
                </div>
                <div class="col-sm-7 iso-group-details">
                    <h4>ISO 9000: 2015</h4>
                    <h5><em>Quality Management</em></h5>
                    <hr>
                    <button class="btn btn-primary iso-read-more-btn">Read more</button>
                    <p>
                        The ISO 9000 family of quality management systems standards is designed to help organizations ensure that they meet the needs of customers and other stakeholders while meeting statutory and regulatory requirements related to a product or service. ISO 9000 deals with the fundamentals of quality management systems, including the seven quality management principles upon which the family of standards is based. ISO 9001 deals with the requirements that organizations wishing to meet the standard must fulfill.
                    </p>
                    <p>
                        Third-party certification bodies provide independent confirmation that organizations meet the requirements of ISO 9001. Over one million organizations worldwide are independently certified, making ISO 9001 one of the most widely used management tools in the world today. However, the ISO certification process has been criticized as being wasteful and not being useful for all organizations.
                    </p>
                </div>
            </li>
            <li class="list-group-item cf iso-group-item">
                <div class="col-sm-5 iso-group-pic" data-background="iso-14001-2015.jpg">                    
                </div>
                <div class="col-sm-7 iso-group-details">
                    <h4>ISO 14001: 2015</h4>
                    <h5><em>Environmental Management</em></h5>
                    <hr>
                    <button class="btn btn-primary iso-read-more-btn">Read more</button>
                    <p>
                        ISO 14001:2015 specifies the requirements for an environmental management system that an organization can use to enhance its environmental performance. ISO 14001:2015 is intended for use by an organization seeking to manage its environmental responsibilities in a systematic manner that contributes to the environmental pillar of sustainability.
                        ISO 14001:2015 helps an organization achieve the intended outcomes of its environmental management system, which provide value for the environment, the organization itself and interested parties. Consistent with the organization's environmental policy, the intended outcomes of an environmental management system include:
                    </p>
                    <ul class="list-group">
                        <li class="list-group-item">enhancement of environmental performance</li>
                        <li class="list-group-item">fulfilment of compliance obligations</li>
                        <li class="list-group-item">achievement of environmental objectives</li>
                    </ul>
                    <p>
                        ISO 14001:2015 is applicable to any organization, regardless of size, type and nature, and applies to the environmental aspects of its activities, products and services that the organization determines it can either control or influence considering a life cycle perspective.
                    </p>
                </div>
            </li>
            <li class="list-group-item cf iso-group-item">
                <div class="col-sm-5 iso-group-pic" data-background="iso-22000-2005.jpg">                    
                </div>
                <div class="col-sm-7 iso-group-details">
                    <h4>ISO 22000:2005</h4>
                    <h5><em>Food Safety Management</em></h5>
                    <hr>
                    <button class="btn btn-primary iso-read-more-btn">Read more</button>
                    <p>
                        ISO 22000:2005 specifies requirements for a food safety management system where an organization in the food chain needs to demonstrate its ability to control food safety hazards in order to ensure that food is safe at the time of human consumption. It is applicable to all organizations, regardless of size, which are involved in any aspect of the food chain and want to implement systems that consistently provide safe products. The means of meeting any requirements of ISO 22000:2005 can be accomplished through the use of internal and/or external resources.
                    </p>
                    <p>ISO 22000:2005 specifies requirements to enable an organization</p>
                    <ul class="list-group">
                        <li class="list-group-item">to plan, implement, operate, maintain and update a food safety management system aimed at providing products that, according to their intended use, are safe for the consumer</li>
                        <li class="list-group-item">to demonstrate compliance with applicable statutory and regulatory food safety requirements</li>
                        <li class="list-group-item">to evaluate and assess customer requirements and demonstrate conformity with those mutually agreed customer requirements that relate to food safety, in order to enhance customer satisfaction</li>
                        <li class="list-group-item">to effectively communicate food safety issues to their suppliers, customers and relevant interested parties in the food chain</li>
                        <li class="list-group-item">to ensure that the organization conforms to its stated food safety policy</li>
                        <li class="list-group-item">to demonstrate such conformity to relevant interested parties</li>
                    </ul>
                    <p>
                        ISO 14001:2015 is applicable to any organization, regardless of size, type and nature, and applies to the environmental aspects of its activities, products and services that the organization determines it can either control or influence considering a life cycle perspective.
                    </p>
                </div>
            </li>
            <li class="list-group-item cf iso-group-item">
                <div class="col-sm-5 iso-group-pic" data-background="iso-27001-2013.jpg">                    
                </div>
                <div class="col-sm-7 iso-group-details">
                    <h4>ISO 27001:2013</h4>
                    <h5><em>Information Security Management Systems</em></h5>
                    <hr>
                    <button class="btn btn-primary iso-read-more-btn">Read more</button>
                    <p>
                        The ISO 27000 family of standards helps organizations keep information assets secure.
                    </p>
                    <p>Using this family of standards will help your organization manage the security of assets such as financial information, intellectual property, employee details or information entrusted to you by third parties.</p>
                    <p>ISO/IEC 27001 is the best-known standard in the family providing requirements for an information security management system (ISMS).</p>
                    <h3><strong>What is an ISMS?</strong></h3>
                    <p>An ISMS is a systematic approach to managing sensitive company information so that it remains secure. It includes people, processes and IT systems by applying a risk management process.</p>
                    <p>It can help small, medium and large businesses in any sector keep information assets secure.</p>
                </div>
            </li>
            <li class="list-group-item cf iso-group-item">
                <div class="col-sm-5 iso-group-pic" data-background="iso-20000-2011.jpg">                    
                </div>
                <div class="col-sm-7 iso-group-details">
                    <h4>ISO 20000:2011</h4>
                    <h5><em>Service Management System Requirements</em></h5>
                    <hr>
                    <button class="btn btn-primary iso-read-more-btn">Read more</button>
                    <p>
                        ISO/IEC 20000-1:2011 can be used by:
                    </p>
                    <ul class="list-group">
                        <li class="list-group-item">an organization seeking services from service providers and requiring assurance that their service requirements will be fulfilled</li>
                        <li class="list-group-item">an organization that requires a consistent approach by all its service providers, including those in a supply chain</li>
                        <li class="list-group-item">a service provider that intends to demonstrate its capability for the design, transition, delivery and improvement of services that fulfil service requirements</li>
                        <li class="list-group-item">a service provider to monitor, measure and review its service management processes and services</li>
                    </ul>
                </div>
            </li>
            <li class="list-group-item cf iso-group-item">
                <div class="col-sm-5 iso-group-pic" data-background="iso-13485-2016.jpg">                    
                </div>
                <div class="col-sm-7 iso-group-details">
                    <h4>ISO 13485:2016</h4>
                    <h5><em>Medical Devices -- Quality Management Systems</em></h5>
                    <hr>
                    <button class="btn btn-primary iso-read-more-btn">Read more</button>
                    <p>
                        ISO 13485:2016 specifies requirements for a quality management system where an organization needs to demonstrate its ability to provide medical devices and related services that consistently meet customer and applicable regulatory requirements. Such organizations can be involved in one or more stages of the life-cycle, including design and development, production, storage and distribution, installation, or servicing of a medical device and design and development or provision of associated activities (e.g. technical support). ISO 13485:2016 can also be used by suppliers or external parties that provide product, including quality management system-related services to such organizations.
                    </p>
                    <p>Requirements of ISO 13485:2016 are applicable to organizations regardless of their size and regardless of their type except where explicitly stated. Wherever requirements are specified as applying to medical devices, the requirements apply equally to associated services as supplied by the organization.</p>
                    <p>The processes required by ISO 13485:2016 that are applicable to the organization, but are not performed by the organization, are the responsibility of the organization and are accounted for in the organization's quality management system by monitoring, maintaining, and controlling the processes.</p>
                    <p>If applicable regulatory requirements permit exclusions of design and development controls, this can be used as a justification for their exclusion from the quality management system. These regulatory requirements can provide alternative approaches that are to be addressed in the quality management system. It is the responsibility of the organization to ensure that claims of conformity to ISO 13485:2016 reflect any exclusion of design and development controls.</p>
                </div>
            </li>
            <li class="list-group-item cf iso-group-item">
                <div class="col-sm-5 iso-group-pic" data-background="qhsas-18001-2007.jpg">                    
                </div>
                <div class="col-sm-7 iso-group-details">
                    <h4>OHSAS 18001:2007</h4>
                    <h5><em>Occupational Health and Safety Assessment Series</em></h5>
                    <hr>
                    <button class="btn btn-primary iso-read-more-btn">Read more</button>
                    <p>An increasing number of organisations are completing OHSAS 18001 certification as employers are under increasing pressure to ensure that a rigorous health and safety policy is in place which protects employees against possible occupational risks and reduces the likelihood of accidents in the workplace. By planning ahead an organisation can also identify health and safety risks and conform to health and safety legislation.</p>
                </div>
            </li>
            <li class="list-group-item cf iso-group-item">
                <div class="col-sm-5 iso-group-pic" data-background="haccp.jpg">                    
                </div>
                <div class="col-sm-7 iso-group-details">
                    <h4>HACCP</h4>
                    <h5><em>Hazard Analysis and Critical Control Points</em></h5>
                    <hr>
                    <button class="btn btn-primary iso-read-more-btn">Read more</button>
                    <p>Hazard Analysis and Critical Control Points, or HACCP is a systematic preventive approach to food safety from biological, chemical, and physical hazards in production processes that can cause the finished product to be unsafe and designs measurements to reduce these risks to a safe level. In this manner, HACCP attempts to avoid hazards rather than attempting to inspect finished products for the effects of those hazards.</p>
                    <p>The HACCP system can be used at all stages of a food chain, from food production and preparation processes including packaging, distribution, etc. The Food and Drug Administration (FDA) and the United States Department of Agriculture (USDA) require mandatory HACCP programs for juice and meat as an effective approach to food safety and protecting public health. Meat HACCP systems are regulated by the USDA, while seafood and juice are regulated by the FDA. All other food companies in the United States that are required to register with the FDA under the Public Health Security and Bioterrorism Preparedness and Response Act of 2002, as well as firms outside the US that export food to the US, are transitioning to mandatory hazard analysis and risk-based preventive controls (HARPC) plans.</p>
                </div>
            </li>
            <li class="list-group-item cf iso-group-item">
                <div class="col-sm-5 iso-group-pic" data-background="brc.jpg">                    
                </div>
                <div class="col-sm-7 iso-group-details">
                    <h4>BRC</h4>
                    <h5><em>British Retail Consortium</em></h5>
                    <hr>
                    <button class="btn btn-primary iso-read-more-btn">Read more</button>
                    <p>The BRC Global Standard for Food Safety – first published in 1998 and now in its 7th issue. The standard is for food manufacturers and contains requirements for a HACCP (Hazard Analysis Critical Control Point) system in accordance with the requirements of Codex Alimentarius, a documented quality management system and control of the factory environment standards, products, process and personnel.</p>
                    <p>The BRC Global Standard for Food Safety is recognized by the Global Food Safety Initiative (GFSI).
                    In addition to HACCP, the BRC Global Standard for Food Safety 7 focuses on:</p>
                    <ul class="list-group">
                        <li class="list-group-item">Management commitment</li>
                        <li class="list-group-item">Quality management systems</li>
                        <li class="list-group-item">Auditing good manufacturing processes</li>
                        <li class="list-group-item">Auditing areas that often have the highest rate of product recalls and withdrawals</li>
                        <li class="list-group-item">Developing systems to reduce exposure to food fraud</li>
                        <li class="list-group-item">Ensuring consistency of audit processes</li>
                        <li class="list-group-item">Promoting greater resilience, transparency and traceability in the supply chain</li>
                    </ul>
                    <p>Benefits of BRC Global Standard for Food Safety:</p>
                    <ul class="list-group">
                        <li class="list-group-item">Legal requirements – addresses 'due diligence' requirements of both the supplier and the retailer</li>
                        <li class="list-group-item">Competitive edge – Certification to a standard recognized by the GFSI and some of the world's top food retailers</li>
                        <li class="list-group-item">Reduce costs – through continual improvement of processes and resulting in operations efficiencies</li>
                        <li class="list-group-item">Standards integration – can be combined with additional certification such as ISO 9001 and HACCP</li>
                    </ul>
                </div>
            </li>
            <li class="list-group-item cf iso-group-item">
                <div class="col-sm-5 iso-group-pic" data-background="en-16001-2009.jpg">                    
                </div>
                <div class="col-sm-7 iso-group-details">
                    <h4>EN 16001:2009</h4>
                    <h5><em>Energy Management Systems</em></h5>
                    <hr>
                    <button class="btn btn-primary iso-read-more-btn">Read more</button>
                    <p>The I.S. EN 16001:2009 Energy Management Systems Standard was developed to ensure that energy management becomes integrated into organisational business structures, so that organisations save energy, save costs and improve energy and business performance. However, in itself, the standard does not establish absolute requirements for energy performance nor does it guarantee optimal energy outcomes.</p>
                    <p>I.S. EN 16001:2009 is structured and based on existing management standards such as ISO 9001 and ISO 14001. It also includes guidance on the use of the standard which primarily has its focus on the management systems aspects.</p>
                    <p>In recognition of the significant technical component necessary to maximise the benefits of I.S. EN 16001:2009, Sustainable Energy Ireland (SEI) has, in consultation with relevant stakeholders, developed this technical guideline. This guideline identifies technical stages and processes of an energy management system. It provides a range of possible methodologies and approaches which could be used in both satisfying the standard and ensuring the development and operation of an effective and documented Energy Management System.</p>
                    <p>The aim of the standard is to put practices in place that are effective, and result in measurable energy savings. In practice, an effective energy management system should result in:</p>
                    <ul class="list-group">
                        <li class="list-group-item">organisations taking action to improve energy efficiency,</li>
                        <li class="list-group-item">a continual improvement year-by-year and an improved performance in energy usage,</li>
                        <li class="list-group-item">more thorough analysis of areas with potential for energy saving being carried out, if no action on energy efficiency is being taken.</li>
                    </ul>
                    <p>Activities related to the technical stages and processes of the system include: </p>
                    <ul class="list-group">
                        <li class="list-group-item">It is essential to develop an understanding – primarily through data collection – of energy use and the factors that drive it.</li>
                        <li class="list-group-item">The organisation should demonstrate an understanding of the energy requirements for significant energy users.</li>
                        <li class="list-group-item">In setting objectives and targets, the use of energy performance indicators (EPIs) at both management and operational levels is a key activity.</li>
                        <li class="list-group-item">A register of energy saving opportunities should be established, prioritised and fed into the energy management programme.</li>
                        <li class="list-group-item">With EPIs in place, information obtained from monitoring and measuring energy usage can be used to review and modify the system.</li>
                        <li class="list-group-item">The management review ensures that top management are responsible for assessing overall performance and recommending changes.</li>
                    </ul>
                    <p>The management system provided for in I.S. EN 16001:2009 and associated guidance, should be considered as a support tool to assist implementation of energy management and cost reducing programmes. This technical guideline outlines methods of how to establish, operate and maintain these programmes. Organisations may then consider applying for certification to I.S. EN 16001:2009 as referred to in the following note.</p>
                </div>
            </li>
            <li class="list-group-item cf iso-group-item">
                <div class="col-sm-5 iso-group-pic" data-background="gost-r-vertificate.jpg">                    
                </div>
                <div class="col-sm-7 iso-group-details">
                    <h4>GOST-R-CERTIFICATE</h4>
                    <h5><em>GOST-R-CERTIFICATE</em></h5>
                    <hr>
                    <button class="btn btn-primary iso-read-more-btn">Read more</button>
                    <p>GOST refers to a set of technical standards maintained by the Euro-Asian Council for Standardization, Metrology and Certification (EASC), a regional standards organization operating under the auspices of the Commonwealth of Independent States (CIS).</p>
                    <p>The abbreviation GOST (rus) (SUST) (eng) stands for the State Union Standard. From its name we learn that most of the GOST standards of the Russian Federation came from the Soviet Union period. Creation and promotion of the Union Standards began in 1918 after introduction of the international systems of weights and measures. The first body for standardization was created by the Council of Labor and Defense in 1925 and was named the Committee for Standardization. Its main objective was development and introduction of the Union standards OST standards. The first OST standards gave the requirements for iron and ferrous metals, selected sorts of wheat, and a number of consumer goods.</p>
                </div>
            </li>
            <li class="list-group-item cf iso-group-item">
                <div class="col-sm-5 iso-group-pic" data-background="ce-marking.jpg">                    
                </div>
                <div class="col-sm-7 iso-group-details">
                    <h4>CE MARKING</h4>
                    <h5><em>Health, Safety, and Environmental Protection</em></h5>
                    <hr>
                    <button class="btn btn-primary iso-read-more-btn">Read more</button>
                    <p>GOST refers to a set of technical standards maintained by the Euro-Asian Council for Standardization, Metrology and Certification (EASC), a regional standards organization operating under the auspices of the Commonwealth of Independent States (CIS).</p>
                    <p>The abbreviation GOST (rus) (SUST) (eng) stands for the State Union Standard. From its name we learn that most of the GOST standards of the Russian Federation came from the Soviet Union period. Creation and promotion of the Union Standards began in 1918 after introduction of the international systems of weights and measures. The first body for standardization was created by the Council of Labor and Defense in 1925 and was named the Committee for Standardization. Its main objective was development and introduction of the Union standards OST standards. The first OST standards gave the requirements for iron and ferrous metals, selected sorts of wheat, and a number of consumer goods.</p>
                    <p>The CE marking is the manufacturer's declaration that the product meets the requirements of the applicable EC directives. The mark consists of the CE logo and, if applicable, the four digit identification number of the Notified Body involved in the conformity assessment procedure. "CE" originated in 1985 as an abbreviation of Conformité Européenne, meaning European Conformity,  but is not defined as such in the relevant legislation. The CE marking is a symbol of free marketability in the European Economic Area (Internal Market).</p>
                </div>
            </li>
            <li class="list-group-item cf iso-group-item">
                <div class="col-sm-5 iso-group-pic" data-background="halal.jpg">                    
                </div>
                <div class="col-sm-7 iso-group-details">
                    <h4>HALAL</h4>
                    <h5><em>Permissible Food and Drinks</em></h5>
                    <hr>
                    <button class="btn btn-primary iso-read-more-btn">Read more</button>
                    <p>Halal, also spelled hallal or halaal, refers to what is permissible or lawful in traditional Islamic law. It is frequently applied to permissible food and drinks.</p>
                    <p>In the Quran, the word halal is contrasted with haram (forbidden). In Islamic jurisprudence, this binary opposition was elaborated into a more complex classification known as "the five decisions": mandatory, recommended, neutral, reprehensible, and forbidden. Islamic jurists disagree on whether the term halal covers the first three or the first four of these categories. In recent times, Islamic movements seeking to mobilize the masses and authors writing for a popular audience have emphasized the simpler distinction of halal and haram.</p>
                </div>
            </li>
            <li class="list-group-item cf iso-group-item">
                <div class="col-sm-5 iso-group-pic" data-background="gmp.jpg">                    
                </div>
                <div class="col-sm-7 iso-group-details">
                    <h4>GMP</h4>
                    <h5><em>Good Manufacturing Practices</em></h5>
                    <hr>
                    <button class="btn btn-primary iso-read-more-btn">Read more</button>
                    <p>Good manufacturing practices (GMP) are the practices required in order to conform to the guidelines recommended by agencies that control the authorization and licensing of the manufacture and sale of food and beverages, cosmetics, pharmaceutical products, dietary supplements, and medical devices. These guidelines provide minimum requirements that a manufacturer must meet to assure that their products are consistently high in quality, from batch to batch, for their intended use. The rules that govern each industry may differ significantly; however, the main purpose of GMP is always to prevent harm from occurring to the end user. Additional tenets include ensuring the end product is free from contamination, that it is consistent in its manufacture, that its manufacture has been well documented, that personnel are well trained, and the product has been checked for quality more than just at the end phase. GMP is typically ensured through the effective use of a quality management system (QMS).</p>
                </div>
            </li>
            <li class="list-group-item cf iso-group-item">
                <div class="col-sm-5 iso-group-pic" data-background="bifma.jpg">                    
                </div>
                <div class="col-sm-7 iso-group-details">
                    <h4>BIFMA</h4>
                    <h5><em>Business and Institutional Furniture Manufacturer’s Association</em></h5>
                    <hr>
                    <button class="btn btn-primary iso-read-more-btn">Read more</button>
                    <p>BIFMA, or the Business and Institutional Furniture Manufacturer’s Association, is a non-profit organization that was formed with the purpose of creating voluntary standards that would promote safe working environments. That is, BIFMA produces standards that specifically apply to institutional and business furnishings and also lobbies for legislation that will continue to make office furniture safer for workers and consumers.</p>
                </div>
            </li>
            <li class="list-group-item cf iso-group-item">
                <div class="col-sm-5 iso-group-pic" data-background="iso-11137-1-2006.jpg">                    
                </div>
                <div class="col-sm-7 iso-group-details">
                    <h4>ISO 11137-1:2006</h4>
                    <h5><em>Sterilization of Health Care Products - Radiation</em></h5>
                    <hr>
                    <button class="btn btn-primary iso-read-more-btn">Read more</button>
                    <p>ISO 11137-1:2006 specifies requirements for the development, validation and routine control of a radiation sterilization process for medical devices. Although the scope of ISO 11137-1:2006 is limited to medical devices, it specifies requirements and provides guidance that may be applicable to other products and equipment.</p>
                    <p>ISO 11137-1:2006 covers radiation processes employing irradiators using the radionuclide 60Co or 137Cs, a beam from an electron generator or a beam from an X-ray generator.</p>
                    <p>ISO 11137-1:2006 does not:</p>
                    <ul class="list-group">
                        <li class="list-group-item">specify requirements for development, validation and routine control of a process for inactivating the causative agents of spongiform encephalopathies such as scrapie, bovine spongiform encephalopathy and Creutzfeldt-Jakob disease</li>
                        <li class="list-group-item">detail specified requirements for designating a medical device as sterile</li>
                        <li class="list-group-item">specify a quality management system for the control of all stages of production of medical devices</li>
                        <li class="list-group-item">specify requirements for occupational safety associated with the design and operation of irradiation facilities</li>
                        <li class="list-group-item">specify requirements for the sterilization of used or reprocessed devices</li>
                    </ul>
                </div>
            </li>
            <li class="list-group-item cf iso-group-item">
                <div class="col-sm-5 iso-group-pic" data-background="iso-11137-2-2006.jpg">                    
                </div>
                <div class="col-sm-7 iso-group-details">
                    <h4>ISO 11137-2:2006</h4>
                    <h5><em>Sterilization of Health Care Products</em></h5>
                    <hr>
                    <button class="btn btn-primary iso-read-more-btn">Read more</button>
                    <p>ISO 11137-2:2006 specifies methods of determining the minimum dose needed to achieve a specified requirement for sterility and methods to substantiate the use of 25 kGy or 15 kGy as the sterilization dose to achieve a sterility assurance level (SAL) of 10-6. It also specifies methods of dose auditing in order to demonstrate the continued effectiveness of the sterilization dose.</p>
                    <p>ISO 11137-2:2006 defines product families for dose establishment and dose auditing.</p>
                </div>
            </li>
            <li class="list-group-item cf iso-group-item">
                <div class="col-sm-5 iso-group-pic" data-background="sa-8000.jpg">                    
                </div>
                <div class="col-sm-7 iso-group-details">
                    <h4>SA-8000</h4>
                    <h5><em>Management Systems Standard</em></h5>
                    <hr>
                    <button class="btn btn-primary iso-read-more-btn">Read more</button>
                    <p>SA8000 is an auditable certification standard that encourages organizations to develop, maintain, and apply socially acceptable practices in the workplace. It was developed in 1989 by Social Accountability International, formerly the Council on Economic Priorities, by an advisory board consisting of trade unions, NGOs, civil society organizations and companies. The SA8000's criteria were developed from various industry and corporate codes to create a common standard for social welfare compliance.</p>
                    <p>SA8000 certification is a management systems standard, modeled on ISO standards. The criteria require that facilities seeking to gain and maintain certification must go beyond simple compliance to the standard. Prospective facilities must integrate it into their management practices and demonstrate ongoing compliance with the standard. SA8000 is based on the principles of international human rights norms as described in International Labour Organisation conventions, the United Nations Convention on the Rights of the Child and the Universal Declaration of Human Rights. It measures the performance of companies in eight areas important to social accountability in the workplace: child labour, forced labour, health and safety, free association and collective bargaining, discrimination, disciplinary practices, working hours and compensation.</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-sm-6 display-selected-iso" id="iso-details">
        <div class="row">
            <div class="cover">

            </div>
            <div class="display-selected-iso-details">

            </div>
        </div>
    </div>
</div>

{% endblock %}